* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.header {
    background: #FCAF02;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

h2 {
    font-size: 32px;
}

.contact-heading{
    color: #FCAF02;
}

h3 {
    font-size: 64px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    height: full;
    width: full;
    background-color: black;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    flex: 1 1 300px;
    min-width: 800px;
    max-width: 600px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100vw;        
    flex-wrap: wrap;     
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-color: black;
    width: 100%;
    height: 100%;
    gap: 40px;
}

p {
    font-size: 28px;
}

.btn {
    height: 66px;
    width: 323px;
    background-color: #FCAF02;
    border-radius: 35px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn {
    margin: auto;
}

.form-box {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

input {
    width: 100%;
    height: 82px;
    border-radius: 50px;
    padding-left: 60px;
    font-size: 28px;
    background-color: black;
    border: 1px solid #FCAF02;
    outline: none;
    color: white;
}

input::placeholder {
    color: #FCAF02;
}

.input-mob-city {
    display: flex;
    gap: 80px;
}

.table-wrapper {
  width: 90%;
  margin: 40px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #FCAF02; 
  color: #FCAF02;
}

th {
  border-bottom: 2px solid #FCAF02;
  border-right: 2px solid #FCAF02;
  padding: 15px;
  text-align: left;
  font-weight: normal;
}

th:last-child {
  border-right: none;
  padding: 30px;
}

td {
  padding: 30px;
  border: none;  
}

td:nth-child(1),
td:nth-child(2) {
  border-right: 2px solid #FCAF02;
}


.footer-row {
  background: #FCAF02;
  color: black;
  font-weight: bold;
}

.footer-row td {
  border-right: 2px solid black;
}

.footer-row td:last-child {
  border-right: none;
}